/*
@media(min-width:720px) {
    .container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}


/*variables*/

:root {
    --BaseBackColor: #152940;
    --LightBlue: #45BDFF;
    --LightPaige: #FFFAAB;
    --LightRed: #FF5E7D;
    --DarkRed: #8C001C;
}

body {
    background-color: var(--BaseBackColor);
}

.header {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    border: 5px var(--LightPaige) solid;
    text-align: center;
    color: var(--LightRed);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    border: 4px var(--LightPaige) solid;
    min-width: 400px;
    padding: 20px;
    flex-wrap: wrap;
    flex-direction: column;
}

.container div {
    display: flex;
    border: 2px var(--LightPaige) solid;
    margin: 5px;
}

.box {
    min-width: 300px;
    min-height: 500px;
    max-height: 650px;
    max-width: 2400;
    background-color: white;
}